.player {
    position: absolute;
    transform-style:flat;
    width: 256px;
    height: 256px;
    background-image: url(../resource/player.png);
    background-size: 256px;
}

.enemy {
    position: absolute;
    transform-style:flat;
    width: 256px;
    height: 256px;
    background-image: url(../resource/enemy.png);
    background-size: 256px;
}

.game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 80px;
    background-image: url(../resource/game-over.png);
    background-size: cover;
}